<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<display-name>HackathonV2</display-name>

	<welcome-file-list>
		<welcome-file>paginas/principal.xhtml</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>FiltroAdmin</filter-name>
		<filter-class>com.stefanini.hackathon2.filtros.FiltroAdmin</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroAdmin</filter-name>
		<url-pattern>paginas/*.xhtml</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>FiltroFuncionarioJunior</filter-name>
		<filter-class>com.stefanini.hackathon2.filtros.FiltroFuncionarioJunior</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroFuncionarioJunior</filter-name>
		<url-pattern>paginas/*.xhtml</url-pattern>
	</filter-mapping>
	
		<filter>
		<filter-name>FiltroFuncionarioPleno</filter-name>
		<filter-class>com.stefanini.hackathon2.filtros.FiltroFuncionarioPleno</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroFuncionarioPleno</filter-name>
		<url-pattern>paginas/*.xhtml</url-pattern>
	</filter-mapping>
	
		<filter>
		<filter-name>FiltroFuncionarioSenior</filter-name>
		<filter-class>com.stefanini.hackathon2.filtros.FiltroFuncionarioSenior</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroFuncionarioSenior</filter-name>
		<url-pattern>paginas/*.xhtml</url-pattern>
	</filter-mapping>
	
		<filter>
		<filter-name>FiltroVisitante</filter-name>
		<filter-class>com.stefanini.hackathon2.filtros.FiltroVisitante</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroVisitante</filter-name>
		<url-pattern>paginas/*.xhtml</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>

</web-app>